@use '../utils/loader' as *;

main {
    display: grid;
    grid-template-columns: 0.35fr 1fr 1fr 0.35fr;
    justify-content: center;
    margin: auto;
    grid-column: 1/5;
    grid-row: 3;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-column: 2;
    &__title{
        color: $green-color;
    }
    &__title img {
        width: 100%;
    }
    &__article {
        width: 100%;
        background-color: $background;
        position: absolute;
        z-index: 100;
        top: 15em;
        right: 5em;
        padding: 1em;
        color: $grey-color;
    }
}

.articleContainer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column: 3;
    &__article {
        color: $grey-color;
        margin: 0 1em;
    }
    &__article h2 {
        color: $green-color
    }
    &__article img {
        max-width: 200px;
        float: left;
        margin: 0 0.5em 0.5em 0;
    }
    &__article p {
        font-size: 0.7em;
    }
}