@use '../utils/loader' as *;

.title {
    @extend %main-title;
    width: 100%;
    @include grid-position(2, 2);
    @include flex-between;
}

.navContainer {
    @include grid-position(2/span 4, 3);
    @include flex-between;
    padding-bottom: 1em;

    &__navBar ul {
        display: flex;
        list-style: none;
        width: 100%;
    }
    &__navBar a {
        text-decoration: none;
        color: $grey-color;
        margin-right: 1em;
    }
    &__icons {
        @include flex-between;
        width: 10%;
        img {
            @include img-size(50px, 50px);
            margin-right: 1em;
        }
    }
}
