@use '../utils/loader' as *;
.title {
    color: $green-color;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1em 0 0 0;
}
.navContainer {
    display: flex;
    margin: 0 1em;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 1em 1em 1em;
    &__navBar ul{
        display: flex;
        list-style: none;
        width: 90%;
        margin: 1em;
    }
    &__navBar a {
        text-decoration: none;
        color: $grey-color;
        padding: 1em;
    }
    &__icons {
        display: flex;
        justify-content: space-around;
        width: 10%;
    }
    &__icons img{
        width: 50px;
        height: 50px;
    }
}
