@use '../utils/loader' as *;

.annonce {
    background-color: $background;
    color: $green-color;
    text-align: center;
    align-self: center;
    @include pad-1em;
    @include grid-position(1/span 5, 1);
}

.separator {
    @extend %separator;
    @include grid-position(1/span 5, 4);
}

header {
    @include grid-position(1/span 5, auto);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 1fr 1fr 1fr;
}
